<style>
  .demo-list-three {
    width: 650px;
  }
  </style>

<h1>Articles:</h1>
<% @articles.each do |article| %>

<ul class="demo-list-three mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">subject</i>
      <span><%= article.title %></span>
      <span class="mdl-list__item-text-body">
      <%= article.text %>
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">

    </span>
    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
  </li>
  <% end %>
</ul>


<%= link_to 'article/new' do %>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<% end %>
<!--
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
  <%= link_to '#', onclick: '$("#new_article").submit();' do %>
  <% end %>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %> </td>
  </tr>
  <% end %>
</table>
